button {
    @include buttonStyle;

    &::before {
        @include beforeButtonStyle;
    }

    &:hover::before {
        @include beforeHoverButton
    }

    &::after {
        @include afterButtonStyle
    }

    &:hover::after {
        @include afterHoverButton
    }

    span {
        position: relative;
        z-index: 3; 
    }
}

.center {
    margin-bottom: 8%;
    @include centering
}

.aboutContentText {
    padding: 8% 8% 2%;
}

.aboutContentText p {
    @include textStyles;
}