button {
    @include buttonStyle;

    &::before {
        @include beforeButtonStyle;
    }

    &:hover::before {
        @include beforeHoverButton
    }

    &::after {
        @include afterButtonStyle
    }

    &:hover::after {
        @include afterHoverButton
    }

    span {
        position: relative;
        z-index: 3; 
    }
}

.center {
    margin-bottom: 8%;
    @include centering
}

.aboutContentText {
    padding: 8% 8% 2%;
}

.aboutContentText p {
    @include textStyles;
}

.heartsContainer {
    height: 90vh;
    width: 65vw;
    margin-top: 15%;
    text-align: center;
}

.modal {
    @include modal;
    max-width: 100vw;
}

.moveXToRight {
    padding-left: 90%;
    padding-top: 1%;
}

.resumeButtonContainer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.resumeButton {
    display: inline-block;
    padding: 4%;
    
}