//VARIABLES, RESETS, MIXINS, SIMILAIR STYLES

// ------------------- GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;400&family=Poppins:wght@300;600&family=Sacramento&family=Work+Sans:wght@200&display=swap');

// ------------------- FONT VARIABLES
$headerFont: 'Poppins', sans-serif;
$textFont: 'Work Sans', sans-serif;
$mainTitleFont: 'Epilogue', sans-serif;
$h2HeaderFonts: 'Sacramento', cursive;

// ------------------- COLOR VARIABLES
$headerWordsColor: black;
$headerAdjColor: #dc859a;
$secondaryColor: white;
$lightPinkColor: #f6e6e0;

// ------------------- MEDIA QUERRIES
@mixin devices($breakpoint) { //the name of the mixin is devices
  
  @if $breakpoint == large1002 {
    @media only screen and (max-width: 1002px) {
      @content;
    }
  }
  
  @if $breakpoint == large1071 {
    @media only screen and (max-width: 1071px) {
      @content;
    }
  }
  
  @if $breakpoint == medium958 {
    @media only screen and (max-width: 958px) {
      @content;
    }
  }
  
  @if $breakpoint == medium780 {    
    @media only screen and (max-width: 780px) {
      @content;
    }
  }
  
  
  @if $breakpoint == tablet {    
    @media only screen and (max-width: 680px) {
      @content;
    }
  }
  
  @if $breakpoint == small541 {    
    @media only screen and (max-width: 541px) {
      @content;
    }
  }
  
  @if $breakpoint == mobile {
    @media only screen and (max-width: 481px) {
      @content;
    }
  }
}

// ------------------- MIXINS

@mixin button {
  text-decoration: none;
  border: 2px solid #010100;
  padding: 8px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  background-color: white;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -2px;
    width: calc(100% + 6px);
    /*100% plus double the times left values*/
    height: calc(100% - 10px);
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
    color: black;
  }

  &::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -5px;
    width: calc(100% - 10px);
    /*100% plus double the times left values*/
    height: calc(100% + 10px);
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
}

  &:hover::after {
    transform: scaleX(0);
  }

  &:hover::before {
  transform: scaleY(0);
}

  span {
      position: relative;
      z-index: 3; 
  }
}

@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textStyles {
  font: {
    family: $textFont;
    weight: bold;
  }
  line-height: 1.3em;
  letter-spacing: .1em;
  @include devices(medium958) {
    font-size: .8em;
    line-height: 1em;
  }
}

@mixin contentPadding {
  padding: 8% 8% 2%
}

@mixin modal {
  border-radius: 3px;
  position: fixed;
  z-index: 25;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4f5f7;
}

// ------------------- FOOTER STYLES
footer{
  text-align: center;
}

.footerSection {
  margin-bottom: 3%;
  @include devices(medium958) {
    margin: 0;
    font-size: .8em;
  }
}

// ------------------- GLOBAL STYLES
*{
    margin: 0;
    padding: 0;
    // outline: 1px solid red;
    // background: #000 !important;
    // color: #0f0 !important;
    // outline: solid #f00 1px !important;
  }

  .mainContainer {
    position: relative;
  }

  ///BELOW CREATES SECTIONS
  section {
    display: grid;
    grid-template-columns: 49.5vw 49vw;
    grid-template-areas: 
      'header content'
      'footer content';
  }

  //?THIS IS SPECIFICALLY TARGETING THE SECTIONS EXCLUDING HEADER SECTIOM
 .collapse {
  @include devices(medium958) {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-areas: 
      'header'
      'contet'
      'footer';
  }
}

  a {
    text-decoration: none;
    color: black;
  }
  ///BELOW SECTIONS MOVE THE CONTENT TO THE FAR LEFT
  .mainContainer > section > .content > section {
    left: calc(-50vw);
    position: relative;
    @include devices(medium958) {
      left: 0vw;
    }
}

ul, li {
  display: inline-block;
}

h3 {
  font-family: "Epilogue", sans-serif;
  size: 2em;
  font-weight: bold;
  padding-bottom: 3%;
  padding-top: 3%;
}

header.headerColor {
  background-color: $lightPinkColor;
  @include devices(medium958) {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include devices(mobile) {
    height:5vh;
  }
}

h2.mainSideHeaer {
  font: {
    family: $h2HeaderFonts;
    size: 2.5em;
  }
  text-align: right;
  padding-top: 6%;
  letter-spacing: .1em;
  padding-right: 14%;
  @include devices(medium958) {
    padding: 0;
    font-size: 2em;
  }
  @include devices(mobile) {
    font-size:1.5em;
  }
}

h2 {
  font: {
    family: $mainTitleFont;
    size: 1.5em;
  }
  text-align: center;
  padding-top: 6%;
  letter-spacing: .1em;
  @include devices(medium958) {
    padding: 0;
    margin:4%
  }
  @include devices(mobile) {
    font-size: 1em;
  }
}

// ------------------- GLOBAL STYLES FOR MODAL

  ///MODAL BACKGROUND MASK FOR RESUME AND PHOTOS
  .whiteModalMask {
    transition: opacity 0.5s ease, visibility 0.5s, z-index 0.5s;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(255,255,255, .5);
    z-index: 2500;
    box-shadow: 0 10rem 10rem 0 rgb(0 0 0 / 50%);
  }

  /// THIS IS FOR VIDEO MODAL AND RESUME MODAL
.scroll {
  padding: 10px;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
}

 /// VERTICAL PAGE LINE
.header:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0.5%;
  bottom: 0;
  left: 43%;
  border-left: 3px solid white;
  @include devices(medium958) {
    z-index: -1000;
  }
} 

//HORIZONAL PAGE LINE
h2:after {
  content: " ";
  display: inline-block;
  background: white;
  width: 40%;
  height: 3px;
  position: relative;
  @include devices(medium958) {
    width: 0;
  }
}