//HEADER, FOOTER, GRID SYSTEMS

// ------------------- MIXINS
@mixin h1NameFont {
  line-height: .85em;
  color: #f6e6e0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font: {
    family: $mainTitleFont;
    size: 4.5em;
    weight: bold;
  }
}

@mixin h1MediaBreakpoints {
  @include devices(large1071) {
    font-size: 3.8em;
  }
  
  @include devices(medium958) {
    font-size: 2.7em;
  }

  @include devices(tablet) {
    font-size: 2.5em;
  }

  @include devices(small541) {
    font-size: 2em;
  }


  @include devices(mobile) {
    font-size: 1.2em;
  }
}


// ------------------- CONTAINERS
.headerLeftStyle {
  width: 100%;
  // display: flex;
  // height: 529.6px;
  // justify-content: center;
  // align-items: center;
  position: relative;
  text-align: right;
  padding-top: 15%;
}

.headerAdjectiveContainer {
  padding-top: 30%;
  padding-right: 5%;
  @include devices(medium958) {
    padding-top:25%;
  }
  // text-align: center;
  // width: 100%;
}

.noColorHeader {
  position: absolute;
}

// ------------------- H1 HEADER STYLES
h1 {
    color: $headerWordsColor;
    position: relative;
  
    .titleFirstName {
      padding-right: 25%;
      @include h1NameFont;
      @include h1MediaBreakpoints;
    }


    .titleLastName {
      @include h1NameFont;
      @include h1MediaBreakpoints;
      padding-left: 3%;
    }

    span.flipAdjective{
      letter-spacing: .1em;
      color: $headerAdjColor;
      display: block;
      height: 100%;
      padding-left: 5px;
      animation: spin_words 8s;
      animation-iteration-count: infinite;
      font: {
        style: normal;
        size: 1.4em;
        family: 'Sacramento', cursive;
      }
      @include devices(large1002) {
        font-size: 1em;
      }
      @include devices(medium780) {
        font-size: 1em;
      }
      @include devices(medium780) {
        font-size: .6em;
      }
    }

    .titleJob {
      line-height: .85em;
      padding-top: 2%;
      padding-right: 3%;
      text-shadow: -.5px -.5px 0 white, .5px -.5px 0 white, -1px 1px 0 white, 1px 1px 0 white;
      font: {
        family: $headerFont;
        size: 1em;
      }
      @include devices(large1002) {
        font-size: .8em;
      }
      @include devices(medium780) {
        font-size: .7em;
      }
      @include devices(small541) {
        font-size: .5em;
      }
    }
  }
  
  .wrapper {
    height: 50px;
    padding-top: 3%;
    padding-left: 12%;
    display: flex;
    width: 100%;
    box-sizing: content-box;
    .adjectiveWords {
      overflow: hidden;
    }
    @include devices(medium780) {
      height: 40px;
      padding-left: 1%;
    }
  }
  
  /// THIS IS KEYFRAMES FOR WORD SCROLLER
  @keyframes spin_words{
    3% {
      transform: translateY(10%);
  }
    15% {
      transform: translateY(-112%);
  }
    25% {
      transform: translateY(-100%);
  }
    35% {
      transform: translateY(-212%);
  }
    50% {
      transform: translateY(-200%);
  }
    60% {
      transform: translateY(-312%);
  }
    75% {
      transform: translateY(-300%);
  }
    85% {
      transform: translateY(-412%);
  }
    100% {
      transform: translateY(-400%);
  }
  }

  // ------------------- BACKGROUND
  .headerBackgroud {
    background-image: url(https://res.cloudinary.com/dnr8dgxt2/image/upload/v1656827897/heather-day-art-11_nucjqz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 60vh;
    display: block;
    margin: auto;
    flex-direction: column; 
    // background-position: relative;
    // display: absolute;
    @include devices(large1071) {
      min-height: 45vh;
    }
    @include devices(medium958) {
      min-height: 30vh;
    }
    @include devices(small541) {
      min-height: 20vh;
    }
  }

  // ------------------- ICON SECTION
  .iconContainer {
    margin-top: 5%;
    padding-right: 23%;
    .headerIcons {
      color: black;
      padding-right: 15px;
      text-align: right;
    }
    @include devices(medium958) {
      margin-top: 3%;
    }
    @include devices(small541) {
      margin-top: 1%;
    }
  }

  .headerIcons  {
    transition: all .2s ease-in-out;
  }

  .headerIcons :hover{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition: .5s ease;
    // z-index: 1;
    }

// ------------------- GLOBAL STYLES
.webLinksContainer {
  width: 89%;
  text-align: right;
  padding-top: 2%;

    a {
      padding:3%;
      color: black;
      font: {
        family: $textFont;
        size: 1em;
      }
      @include devices(large1071) {
        font-size: .7em;
      }

      @include devices(tablet) {
        font-size: .5em;
      }
    }

    a:hover {
      color: #dc859a;
    }
    
    @include devices(tablet) {
      padding-top: 1%;
    }
}

.verticalLine:after {
  content: " ";
  display: inline-block;
  background: white;
  width: 13%;
  height: 3px;
}

svg {
  @include devices(medium958) {
    width: 5%;
    height: 5%
  }
}

  
//DROP IN ANIMATION 
// .overflowHidden {
//   overflow: hidden;
// }

.dropIn1 {
  animation: drop-in .8s ease 300ms backwards;
}

.dropIn1b {
  animation: drop-in .8s ease 100ms backwards;
}

.dropIn2 {
  animation: drop-in 1.5s ease 300ms backwards;
}

.dropIn3 {
  animation: drop-in 3s ease 500ms backwards
}

.dropIn4 {
  animation: drop-in 4s ease 400ms backwards
}

@keyframes drop-in {
  from {
   opacity: 0;
   transform: translateY(-100px);
  }
  to {
   opacity: 1;
   transform: translate(0px);
  }
 }

 .collapse {
  @include devices(medium958) {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-areas: 
      'header'
      'footer';
  }
}