//HEADER, FOOTER, GRID SYSTEMS

//HEADER

.headerLeftStyle {
  display: flex;
  height: 529.6px;
  // justify-content: center;
  // align-items: center;
  text-align: center;
  padding-top: 80px;
}

h1 {
    color: $headerWordsColor;
    display: block;
    span: {
      font: {
        size: 1.4em;
        family: $headerFont
      }
    }
  
    .titleFullName {
      line-height: .85em;
      font: {
        family: $mainTitleFont;
        size: 5em;
        weight: bold;
      }
    }
  
    .flipAdjective{
      font: {
        style: normal;
        size: 1.4em;
        family: 'Sacramento', cursive;
      }
      color: $headerAdjColor
    }

    .titleJob {
      font: {
        size: 2em;
      }
      color: navy;
    }
  }
  
  .adjectiveWords span {
    display: block;
    height: 100%;
    padding-left: 10px;
    color: headerAdjColor;
    animation: spin_words 8s infinite;
  }
  
  .wrapper {
    height: 70px;
    padding: 30px 30px;
    display: flex;
    // text-align: center;
  
    .adjectiveWords {
      overflow: hidden;
    }
  }
  
  @keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
  }

  .headerBackgroud {
    background-image: url(https://res.cloudinary.com/dnr8dgxt2/image/upload/v1656101959/heather-day-art-11_svbe56.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 80vh;
  }

  .headerAdjectiveContainer {
    padding-top: 300px;
  }

  .iconContainer {
    margin-top: 25px;

    .headerIcons {
      color: black;
      padding-right: 25px;
    }

  }



