.projectDescription {
    padding-right: 15%;
    text-align: right;
    width: 80%;
    // text-align: justify;
    // text-justify: inter-word;
}

.buttonContainer {
        display: flex;
        justify-content: space-between;
}